<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    {% load static %}
    <link rel="stylesheet" href="{% static 'timer.css' %}">
    <title>Timer with progress indicator</title>
</head>
<body>
    <div class = "main-container center">
        <div class = "circle-container center">
            <div class = "semicircle"></div>
            <div class = "semicircle"></div>
            <div class = "semicircle"></div>
            <div class="outermost-circle"></div>
            <div class = "timer-container center">
                <div class = "timer center"></div>
            </div>
        </div>           
    </div>
    <div class="time-input-container">
        <input type="number" id="hours" placeholder="HH" min="0">
        <input type="number" id="minutes" placeholder="MM" min="0" max="59">
        <input type="number" id="seconds" placeholder="SS" min="0" max="59">
        <button id="start">Start Timer</button>
    </div>  
    <script defer src="{% static 'timer.js' %}"></script>
</body>
</html>


