{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Create Assessment</h1>
        <form action="{% url 'create_assessment' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <input type="submit" value="Create assessment" title="Create new assessment" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>
{% endblock %}